{%extends 'base.html'%}
{% block title %} ASL | CHANGE PASSWORD SUCCESS {%endblock%}
{%block content%}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Change Password Successful</h3>
                </div>
                <div class="alert alert-success" role="alerts">
                    Your Password Changed Successfully
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}