{%extends 'base.html'%}
{% block title %} ASL | CHANGE PASSWORD {%endblock%}
{%block content%}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Change Password</h3>
                    <form method="post" novalidate>
                        <!-- for security purpose -->
                        {% csrf_token %} {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-primary btn-block">
                            Change Password
                        </button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    <a href="{% url 'home' %}">Home Page</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}